/* COLOUR */
:root {
  --spacing: 3px;
  --border-radius: 8px;
  --border-weight: 5px;

  --user-colour: oklch(0.4 0.2 0);
  --black-or-white: oklch(1 0 0);

  --font-emoji: 'Noto Emoji';
  --font-text: 'Zen Dots', sans-serif;

  --emoji-large: clamp(2.8rem, 8vmin, 6rem);
  --emoji-small: clamp(1.4rem, 3.2vmin, 4rem);
  --emoji-sequencer: clamp(1.1rem, 2.3vmin, 4rem);
  --text-small: clamp(1rem, 4vmin, 2.4rem);
  --text-display: clamp(1rem, 2.4vmin, 2.4rem);
}

* {
  color: var(--user-colour);
  background-color: var(--black-or-white);
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* disables double tap to zoom */
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
}
