/* COLOUR */
:root {
  --app-width: 100vw;
  --spacing: 2px;
  --border-radius: 8px;
  --border-weight: 2.5px;
  --user-colour: hsl(0, 0%, 0%);
  --other-colour: hsl(0, 0%, 0%);
}

* {
  color: var(--user-colour);
  background-color: var(--other-colour);
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* disables double tap to zoom */
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
}
