/* COLOUR */
:root {
  --spacing: 3px;
  --border-radius: 14px;
  --border-weight: 5px;

  --user-colour: oklch(100 0 0);
  --black-or-white: oklch(0 0 0);

  --font-emoji: 'Noto Emoji';
  --font-text: 'Zen Dots', sans-serif;

  --emoji-large: clamp(3.2rem, 8vmin, 6rem);
  --emoji-small: clamp(1.6rem, 3.2vmin, 4rem);
  --emoji-sequencer: clamp(1.3rem, 2.3vmin, 4rem);
  --text-small: clamp(1.2rem, 3.2vmin, 2.6rem);
  --text-display: clamp(1rem, 2.4vmin, 2.4rem);
  --text-logo: clamp(2rem, 6.2vmin, 8rem);
}

* {
  color: var(--user-colour);
  background-color: var(--black-or-white);
  /* filter: blur(0.07px); */
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* disables double tap to zoom */
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
}

/* global elements & classes */

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: var(--user-colour);
  background-color: var(--black-or-white);
}

.border {
  border: var(--border-weight) solid var(--user-colour);
  border-radius: var(--border-radius);
  color: var(--user-colour);
  background-color: var(--black-or-white);
}

.emoji-large {
  font-family: var(--font-emoji);
  font-size: var(--emoji-large);
  font-variant-emoji: text;
}

.emoji-small {
  font-family: var(--font-emoji);
  font-size: var(--emoji-small);
  font-weight: 900;
  font-variant-emoji: text;
}

.text-logo {
  font-family: var(--font-text);
  font-size: var(--text-logo);
}

.text-small {
  font-family: var(--font-text);
  font-size: var(--text-small);
}

.text-xsmall {
  font-family: var(--font-text);
  font-size: var(--text-xsmall);
}

.active,
.playing {
  color: var(--black-or-white);
  background-color: var(--user-colour);
}

.active.playing {
  color: var(--user-colour);
  background-color: var(--black-or-white);
}
