@font-face {
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/NotoEmoji-VariableFont_wght.ttf');
  font-display: block;
}

@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ZenDots-Regular.ttf');
  font-display: block;
}
